.lyrics-content {
  white-space: pre;
}

@media only screen and (max-width: 600px) {
  .title-header {
    font-size: 25px;
  }
  .lyrics-content {
    white-space: normal;
  }
  .subtitle-header {
    font-size: 17px;
  }
}
